extends ./template

block contentSections
  div #{content.cancel}
  #why.section.my-section-margin
    .title.is-4
      | Why do we isolate for variables?
      a(href='#why' style='opacity:0.4;')
        span.icon
          i.fa.fa-anchor
    .content
      p
        | In algebra, when we are given an equation, it usually comes in the form of a function, like \(y = x^2 + 1\).
        | A function is simply an expression that has been isolated for a specific variable.
        | So, when we want to figure out the value of the function at a certain value, we just substitute in the value and evaluate.
      p
        | In other words, when we want to figure out the corresponding value for a variable in a multi-variable expression, we have to isolate the respective variable.
        | The next section will show us how.
  #how.section.my-section-margin
    .title.is-4
      | How to isolate for a variable 
      a(href='#how', style='opacity:0.4;')
        span.icon
          i.fa.fa-anchor
    .content
      p
        | When we isolate for a specific variable, it might appear that we are changing the original expression,
        | but what we are actually doing is rearranging the equation.
      p In order to isolate for a variable, we have to understand inverse operators.
      p #{content.inversesStatement}
      p #{content.inverses1}
      p #{content.inverses2}
      p #{content.inverses3}
      p #{content.inverses4}
      p
        | Now that we understand inverse operators, we can apply this knowledge to isolating variables.
      p
        | The fancy term for isolating variables is \(Transposition\). The methodology is straightforward.
        | It says to move our chosen variable to one side of the equal sign, and everything else to the other side.
      p
        | If we want to move a variable or a constant(number) over to the inverse side,
        | we simply apply its negation operator to both sides and evaluate.
      p Let's do an example.
      p #{content.example1}
      br
      p #{content.solve1}
      p Let's do another for completeness.
      p #{content.example2}
      br
      p #{content.solve2}
      p
        | And that is all there is to it. The next section will show why it works.
  #why-it-works.section.my-section-margin
    .title.is-4
      | Why isolating variables Works
      a(href='#why-it-works', style='opacity:0.4;')
        span.icon
          i.fa.fa-anchor
    .content
      p
        | As it was mentioned in the section above, when we isolate for a variable,
        | we are simply rearranging the equation.
      p An easy way to prove this is to do an example.
      p #{content.example3}
      br
      p #{content.solve3}
      p
        | The left side \(=\) right side. Now, let's rearrange the equation and evaluate again
      p #{content.solve4}
      p
        | Once more, the left side \( = \) right side.
        | If we were to rearrange the \(-1 = -1\),
        | we would get \(-1 + 1 = 0\) resulting in \(0 = 0\) like the first evaluation above.
