extends ./template

block contentSections
  div #{content.cancel}
  #what.section.my-section-margin
    .title.is-4
      | What does it mean to solve an equation
      a(style='opacity:0.4;')
        span.icon
          i.fa.fa-anchor
    .content
      p
        | Before we get into the concept, let's first try and understand what exactly we are trying to accomplish by solving an equation.
      p
        | When we are given an equation and asked to solve for a specific variable,
        | we are being asked to find some number for the chosen variable that makes the equation correct.
      p
        | For a quick and easy example, consider the following, \(y = 3\).
        | Now, for what value can we substitute in for \(y\), that makes the equation correct?
      p
        | Simply by inspection(looking at it), we can see that the answer is \(3\).
        | So when we sub. in \(3\) for \(y\), we get \(3 = 3\) and our equation is now correct.
  #how.section.my-section-margin
    .title.is-4 How to solve a basic equation
    .content
      p We are now going to solve a basic linear equation.
      p #{content.basicExample}
      p Alright, the goal is to isolate the variable \(y\), and then evaluate.
      p #{content.basicExampleSolution}
      p
        | So, we can see that \(y = 7\) is the solution to the equation.
        | We can now check if it is correct by substituting \(7\) for \(y\) in the original equation.
      p #{content.basicExampleCheck}
      p
        | As we can see, the left side \(=\) right side, which tell us that our solution \(y = 7\) is indeed correct.
      p
        | It's always helpful to check your answer when solving an equation,
        | especially for a question on a test/exam with multiple parts.
  #tips.section.my-section-margin
    .title.is-4 Tips and tricks on how to solve challenging equations
    .content
      p
        | Moving on, let's dive into more challenging territory.
        | The following examples will highlight some common mistakes students make
        | when solving equations.
  #expanding.section.my-section-margin
    .subtitle.is-5 1.Expanding
    .content
      p The first example involves a process called Expanding.
      p #{content.tip1}
      p
        | Expanding is quite simple, take the outside term and multiply it with every term within the brackets.
      p #{content.expanding}
      p Back to our equation, let's expand and solve the equation.
      p #{content.tip1Solution}
      p So we got \(y = 10\). Let's do a quick check and see what we get.
      p #{content.tip1Check}
      p Our check tells us that our solution \(y = 10\) is correct.
  #absvals.section.my-section-margin
    .subtitle.is-5 2.Absolute Values
    .content
      p This example deals with a concept called Absolute Values.
      p #{content.tip2}
      p Absolute Values is best represented with an expression.
      p #{content.absval}
      p
        | What the expression above tells us is that \(\lvert x \pm y \rvert\) will always be positive regardless
        | of the values for \(x\) and \(y\). In other words,
      p #{content.absvalequation}
      p So, how do we evaluate an equation with absolute values ?
      p
        | In terms of what we are allowed to do regarding absolute values,
        | we can treat them like parentheses.
      p Let's begin to solve the equation above.
      p #{content.tip2Solution}
      p
        | That might be a little hard to digest at a glance. Take the time to really understand how we arrived at the solutions before continuing.
      p Now, we got 2 unique solutions for the equation,
      p \((1) \space y = 5\)
      p \((2) \space y = -1\)
      .message.is-info
        .message-header Reminder
        .message-body
          | When you are solving equations with absolute values, there will almost always be 2 unique solutions.
      p
        | We are almost done with this example, we just have to check if our solutions are correct.
      p Let's check our first solution, \(y = 5\)
      p #{content.tip2CheckFirst}
      p
        | So, we can see that \(y = 5\) is correct. Let's check the second solution \(y = -1\).
      p #{content.tip2CheckSecond}
      p
        | Wrapping this example up, we see can also see that our second solution \(y = -1\) is also correct.
  #denom.section.my-section-margin
    .subtitle.is-5 3.Denominator
    .content
      p
        | This example addresses the equations where the variable we want to solve for
        | is in the denominator of a fraction. In some cases, knowing how to expand is necessary.
      p #{content.tip3}
      p
        | Our strategy for solving the equation above is similiar to solving any other equation,
        | which is to isolate and evaluate.
      p #{content.tip3Solution}
      p
        | So we got #{content.tip3Answer}. Let's do a quick check and see if our solution is correct.
      p #{content.tip3Check}
      p Sometimes checking your answer can be a little tricky.
      p
        | In the end, our check tells us that our solution #{content.tip3Answer} is correct.
      p
        | Check out the Exercises in the next section to get some practice and more insight.
