extends ./template

block contentSections
  div #{content.cancel}
  #what.section.my-section-margin
    .title.is-4
      | What is Substitution
      a(style='opacity:0.4;')
        span.icon
          i.fa.fa-anchor
    .content
      p
        | Substitution is an algorithm you can use to solve a system of equations.
        | A system of equations is a group of 2 or more equations where each equation has the same set of variables.
        | Systems of equations are used to represent a mathematical model.
  #how.section.my-section-margin
    .title.is-4 How to apply Substitution
    .content
      p
        | In order to apply Substitution, we first have to outline the steps of the algorithm.
      p
        | These steps are for a two variable system.
      ol
        li
          | Select any equation from the system of equations and isolate for a specific variable.
        li
          | Substitute the rearranged equation from step 1 into the second equation included in the system.
        li Solve the equation for the remaining variable.
        li
          | Substitute the solution of the equation from step 3 into the isolated variable equation in step 1.
        li
          | (optional) Check your solutions by substituting the values in each equation and see if the left side \(=\) right side.
      p
        | Now for the fun part. We are going to solve a linear system of two variables, \(x\) and \(y\).
      p#howExample #{content.howExample1}
      p To help make things clear, we are going to break up the solution into parts.
      p #{content.howSolutionPart1}
      br
      p #{content.howSolutionPart2}
      p
        | Almost done, we just have to substitute \(x = 3\) into equation \((3)\) to get a solution for \(y\).
      p #{content.howSolutionPart3}
      p So now we have our solutions \(x = 3\) and \(y = 5\)
      p The only thing left to do is to check to see if they are correct.
      p #{content.howCheckPart1}
      br
      p #{content.howCheckPart2}
      p
        | So, for both equations the left side \(=\) right side meaning our solutions \(x = 3\) and \(y = 5\) are correct.
  #why.section.my-section-margin
    .title.is-4 Why Substitution Works
    .content
      p
        | Now that we see how substitution works in practice, we can now focus on 
        strong why
        |  it works.
      p
        | Before we start, let's talk about systems of equations and their solutions.
      p
        | A solution for a system of equations is a point \((x,y)\) in which every equation lies on.
        | In other words, the points in which the graphs of the equations intersect.
      p
        | Take a look at the graph below of the system of equations in the 
        a(href='#howExample') example
        |  in the previous section.
        |       We can see that they intersect at \((3,5)\) which was exactly our answer in the previous section.
      #howExampleChart.ct-chart.ct-major-twelfth
      p
        | So, now that we know what a solution represents, let's figure out why the substitution algorithm works.
      p
        | Some math principles come into play when we apply substitution. The main one being the 
        i equality principle
        | .
        |       The equality principle says that if the left side of an equation equals \((=)\) the right side, then the
        |       expressions on either side are able to represent one another.
      p
        | Let's do a small example to illustrate the equality principle at work.
      p #{content.whyExample1}
      p
        | To start, we can see that \((1)\) has \(x\) already isolated for us.
      p #{content.whySolutionPart1}
      p
        | Within our system of equations, we can apply the 
        i equality principle
        |     which lets us represent \(x\) with \(y - 2\).
      p
        | This in turn tells us that when \(x = y - 2\), equation \((2)\)
        | produces a value of \(#{content["whyExample1-y-value"]}\) for \(y\).
      .message.is-info
        .message-header Notice
        .message-body
          | The value we found for \(y\) represents the y-coordinate
          | of the point of intersection (solution).
      p
        | Let's now find the value for \(x\), knowing that \(y = #{content["whyExample1-y-value"]}\).
      p #{content.whySolutionPart2}
      p
        | We now see that our solution (point of intersection)
        | is \( (x,y) = \left(#{content["whyExample1-x-value"]}, #{content["whyExample1-y-value"]}\right)\)
      #whyExampleChart.ct-chart-why.ct-major-twelfth
      p
        | Looking at the plot above, we can see that our solution is correct.
      p
        | To summarize, by applying the equality principle to a system of equations,
        | we can construct an algorithm (Substitution) to solve a system of equations.
  #threevar.section.my-section-margin
    .title.is-4 Substitution for 3 variables
    .content
      p
        | The algorithm for substitution changes slightly when we are given a system of equations with
        | 3 variables.
      p
        | The strategy is to reduce the system from 3 equations and 3 variables
        | to 2 equations and 2 variables.
      p
        | The algorithm is described by the following steps.
      ol
        li Select any equation and isolate for a variable of your choice.
        li
          | Substitute the expression for the isolated variable into each equation,
          | not including the one you isolated.
          | This should leave you with 2 equations and 2 variables to solve for.
        li Solve the 2 equations with regular substitution.
        li
          | Substitute the 2 values of the 2 variables from Step 3 into the equation you rearranged in Step 1
          | and solve for the remaining variable.
        li Verify your solution with a check.
      p Let's do a quick example to help better articulate the algorithm.
      p #{content.threeVarExample}
      br
      p #{content.threeVarSolutionPart1}
      br
      p #{content.threeVarSolutionPart2}
      br
      p #{content.threeVarSolutionPart3}
      p
        | Now we have equations \((5)\) and \((6)\) with two variables. Let's solve for \(x\) and \(y\)
        | by applying substitution.
      p #{content.threeVarSolutionPart4}
      br
      p #{content.threeVarSolutionPart5}
      br
      p #{content.threeVarSolutionPart6}
      p Let's get the value for \(y\)
      p #{content.threeVarSolutionPart7}
      p
        | So now we have values for \(x\) and \(y\), let's substitute those values into equation \((4)\)
        | to get the value of \(z\).
      p #{content.threeVarSolutionPart8}
      p
        | Now that we have all three values for \(x\), \(y\) and \(z\), let's check our answer. Step 5:
      p #{content.threeVarCheckEquation1}
      br
      p #{content.threeVarCheckEquation2}
      br
      p #{content.threeVarCheckEquation3}
      p And there you have it. Our solution to the system of equations is
      p #{content.threeVarSolution}
